<h1>Home#land</h1>
<p>Find me in app/views/home/land.html.erb</p>
<%= link_to "Login" , new_user_session_path %>
<%= link_to "sign_up" ,   new_user_registration_path %>
<%= link_to "Logout" ,   destroy_user_session_path , method: :delete%>