<div class="row">
  <div class="col-md-6">
    <h2> Track Previous records</h2>
    <div class="track well">
      <p> Met Dr Raman on 22-12-15</p>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Upcoming Events</h2>
    <div class="next well">
      <p>Tomorrow 4:00 pm Bloodtest</p>
    </div>
  </div>
  <button class="btn btn-primary">Book an Appointment</button>
</div>