<div class="container">
  <div class="row">
    <section>
      <div class="wizard">
        <div class="wizard-inner">
          <div class="connecting-line"></div>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                <span class="round-tab">
                  <i class="glyphicon glyphicon-home"></i>
                </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                <span class="round-tab">
                  <i class="glyphicon glyphicon-user"></i>
                </span>
              </a>
            </li>
            <li role="presentation" class="disabled">
              <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                <span class="round-tab">
                  <i class="glyphicon glyphicon-pencil"></i>
                </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                <span class="round-tab">
                  <i class="glyphicon glyphicon-ok"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>

        <form role="form">
          <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="step1">
              <div class="container-fluid">
                <form class="form-horizontal well">
                  <fieldset>
                    <legend>Signup</legend>
                    <div class="form-group">
                      <label for="inputname" class="col-lg-2 control-label">Username</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control"  placeholder="username">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control"  placeholder="Email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                      <div class="col-lg-10">
                        <input type="password" class="form-control" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword" class="col-lg-2 control-label">Confirm Password</label>
                      <div class="col-lg-10">
                        <input type="password" class="form-control" placeholder="Password">
                      </div>
                    </div>
                    <ul class="list-inline pull-right">
                      <li><button type="button" class="btn btn-primary next-step" >Save and continue</button></li>
                    </ul>
                  </fieldset>
                </form> 
              </div>
            </div>

            <%= render 'patients/register' %>
            <%= render 'patients/details' %>
            <div class="tab-pane" role="tabpanel" id="complete">
              <h3>Complete</h3>
              <p>You have successfully completed all steps.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

