<div class="row">
  <div class="container">
    <div class="col-sm-4">
      <i class="glyphicon glyphicon-user"></i>
    </div>
    <div class="col-sm-8">
      Patient_id: <br>
      Blood Pressure: <br>
      Test Result: <br>
    </div>
  </div>
</div>