<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- begin panel group -->
      <div class="well" id="accordion" role="tablist" aria-multiselectable="true">

        <!-- panel 1 -->
        <div class="well well-sm">
          <!--wrap panel heading in span to trigger image change as well as collapse -->
          <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
            <div class="heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <div class="col-sm-2">
                <i class="glyphicon glyphicon-user"></i>
              </div>
              <h4 class="title">Appoinment with Satyaram</h4>
            </div>
          </span>

          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="body">
              <!-- Tab content goes here -->
              Name: <br>
              Patient_id:  <br>
              Age:  <br>
              dob:  <br>
            </div>
          </div>
        </div> 
        <!-- / panel 1 -->

        <!-- panel 2 -->
        <div class="well well-sm">
          <!--wrap panel heading in span to trigger image change as well as collapse -->
          <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
            <div class="heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <div class="col-sm-2">
                <i class="glyphicon glyphicon-user"></i>
              </div>
              <h4 class="title collapsed">TAB 2</h4>
            </div>
          </span>

          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="body">
              <!-- Tab content goes here -->
              Name: <br>
              Patient_id:  <br>
              Age:  <br>
              dob:  <br>
            </div>
          </div>
        </div>
        <!-- / panel 2 -->

        <!--  panel 3 -->
        <div class="well well-sm">
          <!--wrap panel heading in span to trigger image change as well as collapse -->
          <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
            <div class="heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <div class="col-sm-2">
                <i class="glyphicon glyphicon-user"></i>
              </div>
              <h4 class="title">TAB 3 </h4>
            </div>
          </span>

          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="body">
              <!-- tab content goes here -->
              Name: <br>
              Patient_id:  <br>
              Age:  <br>
              dob:  <br>
            </div>
          </div>
        </div>
      </div> <!-- / panel-group -->

    </div> <!-- /col-md-4 -->
  </div>
</div>

<%= link_to "Edit Appointment", "#" %>